* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/*kajal code started  */
#fir {
  background-color: #0a43ae;
}

header {
  width: 80%;
  margin-left: 20%;
  height: 50vh;
}

#card_code {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  margin-top: -15px;
  /* padding: 10px; */
  width: 80%;
  display: flex;
  height: 60px;
  justify-content: space-between;
 
}

#mid > a img {
  color: rgb(230, 219, 219);
  color: #007bff;
  font-weight: bold;
  flex: 0 0 150px;
  text-align: right;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#mid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  align-content: center;
}
#regis {
  color: rgb(69, 86, 211);
  border: 1px solid rgb(27, 69, 183);
  background-color: #edeef3;
  border-radius: 5px;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
  font-weight: 900;
  font-size: 300;
  width: 80px;
  height: 40px;
  cursor: pointer;
  text-decoration: none;
}
#signs {
  color: rgb(69, 86, 211);
  border: 1px solid rgb(27, 69, 183);
  background-color: #edeff4;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  font-weight: 900;
  font-size: 300;
  cursor: pointer;
  text-decoration: none;
}
#regis:hover {
  background-color: #3d6bf8;
}
#signs:hover {
  background-color: #3d6bf8;
}
.logo img {
  width: 80px;
  height: 60px;
  margin-left: -42px;
  border-radius: 50px;
}

img{
  width: 30px;
  height: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-left: -20px;
  /* max-width: 1000px; */
  padding-top: 40px;
  margin-top: -10px;
}

nav {
  flex: 1;
  margin-top: 20px;
}

nav ul {
  list-style: none;
  margin-left: -20px;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 0px 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  color: white;
}

nav li:hover {
  color: #74a9cd;
  border: 1px solid rgb(188, 222, 234);
  /* border-radius: 10px; */
}

.search-bar {
  margin-top: -27.5px;
  position: relative;
  display: flex;
}

#main {
  width: 80%;
  margin-left: 20%;
}

#location,
#check-in,
#check-out {
  height: 30px;
}

.location label,
.date-range label,
.guests label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.location input[type="text"] {
  padding: 18px 10px;
  border: 4px solid rgb(205, 205, 3);
  border-radius: 1px solid #ccc;
}

.date-range input[type="date"] {
  padding: 18px 10px;
  border: 4px solid rgb(205, 205, 3);
  border-radius: 1px solid #ccc;
}

.guests {
  display: flex;
}

.guests select {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding:10px 10px;
  border: 4px solid rgb(205, 205, 3);
  border-radius: 1px solid #ccc;
}

.guests select {
  appearance: none;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}

.search-button button {
  background-color: #3d6bf8;
  color: #fff;
  width: 100px;
  height: 43px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 4px solid rgb(205, 205, 3);
}



.accommodation-type input[type="checkbox"] {
  margin-top: 15px;
  margin-right: 12px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-top: 80px;
  color: white;
}

.box img {
  width: 500px;
  height: 500px;
}

.btn {
  background-color: #3d6bf8;
  color: white;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-top: 30px;
}

.btn:hover {
  background-color: #072ea3;
}

#currencyButton {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

#languageSelectionButton {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.toggle-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 90%; /* Increased width for better alignment */
   max-width: 800px;
  max-height: 70%; /* Limiting maximum height to make it scrollable */
  overflow-y: auto; /* Adding vertical scrollbar if needed */
}
.toggle-popup label {
  display: inline-block;
  width: calc(
    25% - 20px
  ); /* Four labels in a row with a small gap between them */
  height: 50px; /* Set the height of each label */
  margin: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}
.toggle-popup label:hover {
  background-color: #f0f0f0;
}
.selected {
  background-color: #007bff;
  color: #fff;
}

.language-toggle-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.language-toggle-popup label {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  width: calc(25% - 10px); /* Adjust as needed */
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.language-toggle-popup label:hover {
  background-color: #f0f0f0;
}
.language-selected {
  background-color: #007bff;
  color: #fff;
}

#currencyButton::after {
  content: "Select your currency"; /* Tooltip content */
  position: relative;
  top: calc(80% + 5px); /* Position below the link */
  left: 5%; /* Center horizontally */
  transform: translateX(-50%);
  background-color: black;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Prevent the tooltip from blocking clicks */
  white-space: nowrap;
}

#currencyButton:hover::after {
  opacity: 1; /* Show tooltip on hover */
}
#languageSelectionButton img {
  margin-top: 8px;
}
#languageSelectionButton::after {
  content: attr(data-tooltip); /* Tooltip content */
  position: relative;
  top: calc(15px); /* Position below the button */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  background-color: black;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Prevent the tooltip from blocking clicks */
  white-space: nowrap;
}

#languageSelectionButton:hover::after {
  opacity: 1; /* Show tooltip on hover */
}

/*kajal code ended  */

/*junaid code started  */
#card_box,
#card_box1,
#card_box2,
#card_box3,
#card_box4 {
  position: relative;
  overflow: hidden;
}

.container_first {
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.desc {
  font-size: 0.9rem;
}

.container_second {
  display: flex;
  gap: 1.1rem;
  justify-content: space-around;
}

.explore_india_img_container:hover {
  cursor: pointer;
  border-radius: 10px;
}

.destinations_img {
  height: 10rem;
  width: 13rem;
  overflow: hidden;
  border-radius: 10px;
}

.destinations_img_class {
  height: 100%;
  width: 100%;
}

.destinations_img_class:hover {
  transform: scale(1.1);
}

.destinations_details {
  margin-left: 0.7rem;
  margin-top: 0.5rem;
  height: 45px;
}

.destinations_name {
  font-weight: bold;
  font-size: 1.1rem;
}

.destinations_properties {
  font-size: 0.9rem;
}

.left_btn,
.right_btn {
  position: absolute;
  padding: 0.7rem 1rem;
  background-color: white;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.788) 2px 15px 15px;
}

.left_btn {
  left: 0;
  top: 50%;
  transform: translate(-35%, -50%);
}

.right_btn {
  top: 50%;
  right: 0;
  transform: translate(29%, -50%);
}

/* ------------------ 4 Cards box -------------- */

#card_box2
  > .container_second
  > .card_container
  > .explore_india_img_container
  > .destinations_img,
#card_box3
  > .container_second
  > .card_container
  > .explore_india_img_container
  > .destinations_img,
#card_box4
  > .container_second
  > .card_container
  > .explore_india_img_container
  > .destinations_img {
  width: 20rem;
  height: 15rem;
}

.destination_reviews {
  display: flex;
  gap: 0.5rem;
  margin-top: 8px;
  align-items: center;
}

.destination_reviews_star {
  background-color: rgb(43, 43, 167);
  color: white;
  padding: 0.3rem;
  border-radius: 8px;
}

.destination_reviews_verbal {
  font-size: 0.9rem;
}

.destination_reviews_starting_from {
  font-weight: bolder;
  margin-left: 8.5rem;
  margin-top: 1rem;
}

#card_box1 {
  margin-top: 3rem;
}

#card_box2 {
  margin-top: 3rem;
}

#card_box3,
#card_box4 {
  margin-top: 3rem;
}

#card_box3 .container_second .card_container .explore_india_img_container,
#card_box2 .container_second .card_container .explore_india_img_container {
  height: 23rem;
  box-shadow: 2px 5px 8px 2px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid;
  border-radius: 10px;
}

#card_box4 {
  margin-bottom: 13rem;
}

#card_box4 .container_second .card_container .explore_india_img_container {
  height: 19rem;
  box-shadow: 2px 5px 8px 2px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid;
  border-radius: 10px;
}
/*junaid code ended  */
