body {
    margin: 0;
    padding: 0;
}
.first{
    background-color: rgb(0,34,79);
    height: 350px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
input{
    padding: 20px;
    width: 400px;
    border-radius: 5px;
    text-align: center;
    font-size: large;

}
.firButtons{
    padding: 20px;
    width: 160px;
    border-radius: 5px;
    margin: 4px;
    

    background-color: blueviolet;
    color: white;
    font-size: large;
    

}
.second{
    background-color: blueviolet;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#secButton{
    padding: 10px 20px;
    margin: 10px;
    background-color: blueviolet;           
    border: none;
    cursor: pointer;
    width: 170px;
   border: 1px solid white;
    color: white;
    
}
.sec1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
     flex-wrap: wrap;
}
.sec1 a {
    color: white;
    
}
.third{
    display: flex;
   flex-wrap: wrap;
    padding: 10px;
    margin-top: 5px;
    padding-top: 10px;
    

}
.third .a {
    text-align: center;
    flex: 1;
    
}
.third .a a {
    color: blueviolet;
    text-decoration: none;
}
.line {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 10px 0;
}
.aa{
    text-align: center;
   font-size: 1.2rem;
}
.four{
    display: flex;
    justify-content: center;
    gap: 40px;
    
}
img{
    margin: 10px;
    height: 30px;
}